{% extends 'base.html'%}

{%block content%}

<div class="container d-flex justify-content-center">
<div class="card " style="width: 18rem;">
    <img src="/app/static/images/me.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h1 class="card-text text-uppercase">About Me</h1>
    </div>
</div>
</div>
<div class="container">
    <p>
        I've never been a big admirer of self-promotion. I'm never quite sure what to say. When someone says, "Tell me about yourself," I usually find it cliche. Why not ask the questions you've been thinking about? I'm sure you had an idea of what you wanted to ask when that notion occurred to you.
    </p>
</div>

{%endblock%}